files:
  "/etc/awslogs/config/customlogs.conf":
    mode: "000600"
    owner: root
    group: root
    content: |
      [docker-stdout]
      log_group_name = /aws/elasticbeanstalk/datasette/var/log/eb-docker/containers/stdouterr.log
      log_stream_name = {instance_id}
      file = /var/log/containers/*stdouterr.log*

commands:
  "01":
    command: aws logs create-log-group --log-group-name /aws/elasticbeanstalk/datasette/var/log/eb-docker/containers/stdouterr.log --region us-east-1 || echo log group already exists
  "02":
    command: chkconfig awslogs on
  "03":
    command: service awslogs restart
  "04":
    command: aws logs put-retention-policy --log-group-name /aws/elasticbeanstalk/datasette/var/log/eb-docker/containers/stdouterr.log --retention-in-days 30 --region us-east-1
