<div class="table-wrapper table-wrapper__responsive">
    <div class="view-cols js-click center">
        <button>View/hide all columns</button>
    </div>
    <table class="dbresults js-click hide-columns">
        <thead title="Click to toggle extra columns">
            <tr>
            {% for column in display_columns %}
                {% set name = col_name[column.name] | default(column.name) %}
                <th scope="col" class="{{ column.name }}">
                    {% if not column.sortable %}
                        {{ name }}
                    {% else %}
                        {% if column.name == sort %}
                            <a href="{{ path_with_added_args(request, {'_sort_desc': column.name, '_sort': None, '_next': None}) }}" rel="nofollow">{{ name }}&nbsp;▲</a>
                        {% else %}
                            <a href="{{ path_with_added_args(request, {'_sort': column.name, '_sort_desc': None, '_next': None}) }}" rel="nofollow">{{ name }}{% if column.name == sort_desc %}&nbsp;▼{% endif %}</a>
                        {% endif %}
                    {% endif %}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in display_rows %}
            <tr class="fancyfloat">
                {% for cell in row %}
                    {% if cell.column in numeric_cols %}
                        <td data-col="{{ col_name[cell.column] | default(cell.column) }}" class="col-right {{cell.column}}">{{ "${:,.2f}".format(cell.value|float) }}</td>
                    {% else %}
                        <td data-col="{{ col_name[cell.column] | default(cell.column) }}" class="{{cell.column}}">{{ cell.value }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
