<div class="table-wrapper table-wrapper__responsive">
    <div class="view-cols js-click center">
        <button>View/hide all columns</button>
    </div>
    <table class="dbresults js-click hide-columns">
        <thead title="Click to toggle extra columns">
            <tr>
            {% for column in display_columns %}
                <th scope="col" class="{{ column.name }}">
                    {% if not column.sortable %}
                        {{ column.name|format_name }}
                    {% else %}
                        {% if column.name == sort %}
                            <a href="{{ path_with_replaced_args(request, {'_sort_desc': column.name, '_sort': None, '_next': None}) }}" rel="nofollow">{{ column.name|format_name }}&nbsp;▲</a>
                        {% else %}
                            <a href="{{ path_with_replaced_args(request, {'_sort': column.name, '_sort_desc': None, '_next': None}) }}" rel="nofollow">{{ column.name|format_name }}{% if column.name == sort_desc %}&nbsp;▼{% endif %}</a>
                        {% endif %}
                    {% endif %}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in display_rows %}
            <tr class="fancyfloat">
                {% for cell in row %}
                    <td
                        data-col="{{ cell.column|format_name }}"
                        class="{% if cell.column is numeric %}col-right{% endif %} {{ cell.column }}"
                    >{{ format_for(cell.value, cell.column) }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
