<div class="table-wrapper">
<table class="dbresults">
    <thead>
        <tr>
            <th scope="col">Link</th>
            <th scope="col">First name</th>
            <th scope="col">Middle initial</th>
            <th scope="col">Last name</th>
            <th scope="col">Organization</th>
            <th scope="col">YTD gross earnings</th>
        </tr>
    </thead>
    <tbody>
    {% for row in display_rows %}
        <tr class="fancyfloat">
            {% for cell in row %}
                {% if cell.column == 'ytd_gross_earnings' %}
                    <td class="{{ cell.column }}">{{ "${:,.2f}".format(cell.value|float) }}</td>
                {% else %}
                    <td class="{{ cell.column }}">{{ cell.value }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
</div>
