<script type="text/javascript">
  googletag.cmd.push(function() {

  //Adslot 1 declaration
  gptadslots.push(googletag.defineSlot('/4011/trb.baltimoresun/news', [[728,90]],'div-gpt-ad-785317941620082696-1').setTargeting('pos',['1']).addService(googletag.pubads()));

  googletag.pubads().setTargeting('ptype', ['s']);
  googletag.pubads().enableAsyncRendering();
  googletag.enableServices();
  });
</script>

<!-- Beginning Async AdSlot 1 for Ad unit trb.baltimoresun/news  ### size: [[728,90]] -->
<!-- Adslot's refresh function: googletag.pubads().refresh([gptadslots[1]]) -->
<div id='div-gpt-ad-785317941620082696-1'>
  <script type='text/javascript'>
    googletag.cmd.push(function() { googletag.display('div-gpt-ad-785317941620082696-1'); });
  </script>
</div>
