{%- set siteinfo = {
    "baseURL": "https://salaries.news.baltimoresun.com",
    "siteTitle": "Baltimore Sun Public Salary Records",
    "description": "The Baltimore Sun has published salary records for public employees in Maryland.",
    "iconURL": "/static/images/logo.png",
    "imageURL": "/static/images/salaries-thumb.png",
    "static_version": ".v2",
} -%}
{%- set col_name = {
    'agency': 'Agency code',
    'annual_salary': 'Annual salary',
    'class_code': 'Class code',
    'first_name': 'First Name',
    'last_name': 'Last Name',
    'middle_initial': 'MI',
    'organization': 'Organization',
    'other_earnings': 'Other earnings',
    'overtime_earnings': 'Overtime',
    'pay_rate': 'Pay rate',
    'regular_earnings': 'Regular earnings',
    'subtitle': 'Subtitle',
    'suffix': 'Suffix',
    'system': 'System',
    'term_date': 'Termination date',
    'ytd_gross_earnings': '2017 Gross Earnings',
} -%}
{%- set numeric_cols = [
    'annual_salary', 'other_earnings', 'overtime_earnings', 'regular_earnings', 'ytd_gross_earnings'
] -%}
{%-  set url = url_json | default("/") | replace(".json", "") -%}
<!DOCTYPE html>
<html>
<head>
    <title>
      {%- block fulltitle %}{% block title %}{% endblock %} &middot; {{ siteinfo.siteTitle }}{% endblock -%}
    </title>
    <!--Basic page needs-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato|Montserrat">
    <link rel="stylesheet" href="/static/css/app{{ siteinfo.static_version }}.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Start: GPT Async -->
    <script src="/static/js/app{{ siteinfo.static_version }}.js" async></script>
    <script type='text/javascript'>
      var gptadslots = [];
      var googletag = googletag || {};
      googletag.cmd = googletag.cmd || [];
    </script>
    <script src="//www.googletagservices.com/tag/js/gpt.js" async></script>
    <script>
        ((((window.trb || (window.trb = {})).data || (trb.data = {})).metrics || (trb.data.metrics = {})).thirdparty = {
            pageName: 'bs:dataproject:news:maryland:salary-2107:dataproject.',
            channel: 'news:maryland',
            server: 'salaries.news.baltimoresun.com',
            hier1: 'baltimoresun:news:maryland',
            hier2: 'news:maryland',
            prop1: 'D=pageName',
            prop2: 'news',
            prop38: 'dataproject',
            prop57: 'D=c38',
            eVar20: 'baltimoresun',
            eVar21: 'D=c38',
            eVar34: 'D=ch',
            eVar35: 'D=pageName',
            events:''
        });
    </script>
    <script src="//www.baltimoresun.com/thirdpartyservice?disablenav=false&amp;disablessor=true" async></script>

    <!-- Metadata -->
    <meta name="robots" content="index,follow">
    <link rel="icon" href="{{ siteinfo.baseURL }}{{ siteinfo.iconURL }}">
    <link rel="apple-touch-icon" href="{{ siteinfo.baseURL }}{{ siteinfo.imageURL }}">
    <link rel="canonical" href="{{ siteinfo.baseURL }}{{ url }}">
    <meta name="author" content="Baltimore Sun">
    <meta name="description" content="{{ siteinfo.description }}">
    <!--Facebook Stuff-->
    <meta property="fb:app_id" content="310302989040998">
    <meta property="og:description" content="{{ siteinfo.description }}">
    <meta property="og:image" content="{{ siteinfo.baseURL }}{{ siteinfo.imageURL }}">
    <meta property="og:site_name" content="{{ siteinfo.siteTitle }}">
    <meta property="og:title" content="{{ self.title() }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ siteinfo.baseURL }}{{ url }}">
    <!--Twitter Stuff-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:creator" content="@baltsundata">
    <meta name="twitter:description" content="{{ siteinfo.description }}">
    <meta name="twitter:image" content="{{ siteinfo.baseURL }}{{ siteinfo.imageURL }}">
    <meta name="twitter:site" content="@baltimoresun">
    <meta name="twitter:title" content="{{ self.title() }}">

    {% block extra_head %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  <script type="text/javascript">document.body.classList.add("js-active");</script>
  <div data-trb-thirdpartynav></div>
  <nav id="popsearches">
      <strong>Popular searches: </strong>
      <span>
        <a href="/salaries/2017+Maryland+state+salaries">All records</a>
        <a href="/salaries/2017+Maryland+state+salaries?organization__like=GENERAL+ASSEMBLY+OF+MARYLAND">General Assembly</a>
        <a href="/salaries/2017+Maryland+state+salaries?organization__contains=UNIVERSITY">Public universities</a>
        <a href="/salaries/2017+Maryland+state+salaries?organization__like=DEPARTMENT+OF+STATE+POLICE">State police</a>
        <a href="/salaries/2017+Maryland+state+salaries?_sort_desc=ytd_gross_earnings">Top Earners</a>
      </span>
      <div id="share-tools">
        <span class="icon-facebook js-click"></span>
        <span class="icon-twitter js-click" data-share-text="See public employee salaries with the Maryland Salary Database from the Baltimore Sun"></span>
      </div>
  </nav>

  <section id="salary-content">
      <h1 class="title"><a href="/">{{ siteinfo.siteTitle }}</a></h1>
      {% block content %}
      {% endblock %}
  </section>

  <div class="subscribe">
    Support our journalism.
    <a
      href="http://ad.baltimoresun.com/land-subscribe-evergreen/sale.html?int=bs_digitaladshouse_4-weeks-99_acquisition-subscriber_ngux_editorial__salaries______bxca"
      class="button subscribe-btn">Subscribe to the Baltimore Sun</a>
  </div>

  {% include "ad-responsive.html" %}
</body>
</html>
