<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
        <!--Basic page needs-->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="css/style.css?v=1.2">
    <!--Facebook Stuff-->
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:site_name" content="The Baltimore Sun">
    <meta property="og:description" content="">
    <meta property="fb:app_id" content="310302989040998">
    <!--Twitter Stuff-->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@baltimoresun">
    <meta name="twitter:creator" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:domain" content="baltimoresun.com">

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato|Montserrat">
    <link rel="stylesheet" href="/static/fonts.css">
    <link rel="stylesheet" href="/static/app.css?v=1.3">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% for url in extra_css_urls %}
    <link rel="stylesheet" href="{{ url.url }}"{% if url.sri %} integrity="{{ url.sri }}" crossorigin="anonymous"{% endif %}>
{% endfor %}
{% for url in extra_js_urls %}
    <script src="{{ url.url }}"{% if url.sri %} integrity="{{ url.sri }}" crossorigin="anonymous"{% endif %}></script>
{% endfor %}
{% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
<script>
    ((((window.trb || (window.trb = {})).data || (trb.data = {})).metrics || (trb.data.metrics = {})).thirdparty = {
        pageName: 'bs:dataproject:news:maryland:salary-2107:dataproject.',
        channel: 'news:maryland',
        server: 'data.baltimoresun.com',
        hier1: 'baltimoresun:news:maryland',
        hier2: 'news:maryland',
        prop1: 'D=pageName',
        prop2: 'news',
        prop38: 'dataproject',
        prop57: 'D=c38',
        eVar20: 'baltimoresun',
        eVar21: 'D=c38',
        eVar34: 'D=ch',
        eVar35: 'D=pageName',
        events:''
    });  
</script>

<!-- Start: GPT Async -->
<script type='text/javascript'>
  var gptadslots=[];
  var googletag = googletag || {};
  googletag.cmd = googletag.cmd || [];
  (function(){ var gads = document.createElement('script');
  gads.async = true; gads.type = 'text/javascript';
  var useSSL = 'https:' == document.location.protocol;
  gads.src = (useSSL ? 'https:' : 'http:') + '//www.googletagservices.com/tag/js/gpt.js';
  var node = document.getElementsByTagName('script')[0];
  node.parentNode.insertBefore(gads, node);
  })();
  </script>

  <script type="text/javascript">
  googletag.cmd.push(function() {

  //Adslot 1 declaration
  gptadslots[1]= googletag.defineSlot('/4011/trb.baltimoresun/news', [[728,90]],'div-gpt-ad-785317941620082696-1').setTargeting('pos',['1']).addService(googletag.pubads());

  googletag.pubads().setTargeting('ptype',['s']);
  googletag.pubads().enableAsyncRendering();
  googletag.enableServices();
  });
</script>

<script src="http://www.baltimoresun.com/thirdpartyservice?disablenav=false&ampdisablessor=true" async></script>
<div data-trb-thirdpartynav></div>
<div id="popsearches">
    <strong>Popular searches: </strong>
    <a href="#">All records</a>
    <a href="#">General Assembly</a>
    <a href="#">Public universities</a> 
    <a href="#">State police</a>
    <div id="share-tools"><span class="icon-facebook"></span><span class="icon-twitter"></span></div>
</div>
<div id="salary-content">

    <h1>MARYLAND SALARY DATABASE: 2017 SALARIES</h1>
    {% block content %}
    {% endblock %}
</div>
        <!-- Beginning Async AdSlot 1 for Ad unit trb.baltimoresun/news  ### size: [[728,90]] -->
        <!-- Adslot's refresh function: googletag.pubads().refresh([gptadslots[1]]) -->
        <div id='div-gpt-ad-785317941620082696-1'>
        <script type='text/javascript'>
        googletag.cmd.push(function() { googletag.display('div-gpt-ad-785317941620082696-1'); });
        </script>
        </div>

</div>
</body>
</html>
