{% extends "base.html" %}

{% block title %}Custom SQL Query{% endblock %}

{% block extra_head %}
{{ super() }}
{% include "_codemirror.html" %}
{% endblock %}

{% block body_class %}db db-{{ database|to_css_class }}{% endblock %}

{% block content %}
<form class="sql" action="/{{ database }}-{{ database_hash }}" method="get">
    <h3>Custom SQL query</h3>
    <p>Note: Database uses <a href="https://www.sqlite.org/lang.html">SQLite</a> syntax.</p>
    <p><textarea name="sql">select * from [2017 Maryland state salaries]</textarea></p>
    <p><input type="submit" value="Custom SQL Query"></p>
</form>

{% if queries %}
    <h2>Sample Queries</h2>
    <ul>
        {% for query in queries %}
            <li>
                <p>
                    <a href="/{{ database }}-{{ database_hash }}/{{ query.name }}" title="{{ query.sql }}">{{ query.name.replace("-", " ").title() }}</a>
                </p>
                <p>
                    <textarea class="sql" disabled>{{ query.sql }}</textarea>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% include "_codemirror_foot.html" %}

<script>
document.querySelectorAll('.sql[disabled]').forEach(function(el){
    var editor = CodeMirror.fromTextArea(el, {
      lineNumbers: true,
      mode: "text/x-sql",
      lineWrapping: true,
      readOnly: true
    });
    editor.setOption("extraKeys", {
      "Shift-Enter": function() {
        document.getElementsByClassName("sql")[0].submit();
      },
      Tab: false
    });
});
</script>
{% endblock %}
