{% extends "base.html" %}

{% block title %}Custom SQL Query{% endblock %}

{% block body_class %}db db-{{ database|to_css_class }}{% endblock %}

{% block content %}
<form class="sql" action="/{{ database }}" method="get">
    <h3>Custom SQL query</h3>
    <p>Note: Database uses <a href="https://www.sqlite.org/lang.html">SQLite</a> syntax.</p>
    <p><textarea name="sql">SELECT * FROM "2018 Maryland state salaries";</textarea></p>
    <p><input type="submit" value="Custom SQL Query"></p>
</form>

{% if queries %}
    <h2>Sample Queries</h2>
    <ul>
        {% for query in queries %}
            <li>
                <p>
                    <a href="/{{ database }}/{{ query.name }}" title="{{ query.sql }}">{{ query.name.replace("-", " ").title() }}</a>
                </p>
                <p>
                    <textarea class="sql" disabled>{{ query.sql }}</textarea>
                </p>
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
