{% extends "base.html" %}

{% block title %}Error{% endblock %}

{% block extra_head %}
{{ super() }}
{% include "_codemirror.html" %}
{% endblock %}

{% block content %}

{% if error %}
    <div style="padding: 1em; margin: 1em 0; border: 3px solid red;">{{ error }}</div>
{% endif %}

<form class="sql" action="/{{ database }}-{{ database_hash }}" method="get">
    <h3>Custom SQL query</h3>

    <p><textarea name="sql"></textarea></p>

    <p><input type="submit" value="Run SQL"></p>
</form>

{% include "_codemirror_foot.html" %}

{% endblock %}
