{% extends "base.html" %}

{% block fulltitle %}{% block title %}{{ site_info.siteTitle }}{% endblock %}{% endblock %}

{% block body_class %}index{% endblock %}

{% set top_earners = [
    { "name": "Daniel Durkin", "amount": " $4,793,000", "url": "/salaries/2018+Maryland+state+salaries/25473" },
    { "name": "Mark Turgeon", "amount": "$2,828,000", "url": "/salaries/2018+Maryland+state+salaries/93509" },
    { "name": "Brenda Frese", "amount": "$1,186,000", "url": "/salaries/2018+Maryland+state+salaries/30744" },
    { "name": "Mathew Canada", "amount": "$1,129,000", "url": "/salaries/2018+Maryland+state+salaries/14118" },
    { "name": "Bartley Griffith", "amount": "$967,000", "url": "/salaries/2018+Maryland+state+salaries/35332" },
] %}
{% set datasets = [
    {
      "name": "2018 Maryland state salaries",
      "url": "/salaries/2018+Maryland+state+salaries",
      "csv": "/static/csv/cy2018-md.csv",
    },
    {
      "name": "2017 Maryland state salaries",
      "url": "/salaries/2017+Maryland+state+salaries",
      "csv": "/static/csv/cy2017-md.csv",
    },
    {
      "name": "2016 Maryland state salaries",
      "url": "/salaries/2016+Maryland+state+salaries",
      "csv": "/static/csv/cy2016-md.csv",
    },
    {
      "name": "2015 Maryland state salaries",
      "url": "/salaries/2015+Maryland+state+salaries",
      "csv": "/static/csv/cy2015-md.csv",
    },
    {
      "name": "2014 Maryland state salaries",
      "url": "/salaries/2014+Maryland+state+salaries",
      "csv": "/static/csv/cy2014-md.csv",
    },
    {
      "name": "2013 Maryland state salaries",
      "url": "/salaries/2013+Maryland+state+salaries",
      "csv": "/static/csv/cy2013-md.csv",
    },
    {
      "name": "2012 Maryland state salaries",
      "url": "/salaries/2012+Maryland+state+salaries",
      "csv": "/static/csv/cy2012-md.csv",
    },
] %}
{%block extra_head %}

{% endblock %}

{% block content %}
    <div class="topEarnersWrapper">
        <p class="topEarnersHead">Top Earners</p>
        <ul>
            {% for earner in top_earners %}
            <li class="topEarner">
                <a href="{{ earner.url }}">
                    <p>{{ earner.name }}</p>
                    <p>{{ earner.amount }}</p>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

<section class="l-index-block l-index-block__centered">
  <form class="dbsearch" action="/salaries/2018+Maryland+state+salaries" method="get">
      <label class="label" for="_search">Basic search:</label>
      <input id="_search" type="search" name="_search" placeholder="Name or organization">
      <button class="full-width" type="submit">Go</button>
  </form>

  <div class="">
    <form class="dbsearch" action="/salaries/2018+Maryland+state+salaries" method="get">
     <label class="label" for="agency-search">View by organization:</label>
     <input type="hidden" name="_filter_column" value="organization">
     <input type="hidden" name="_filter_op" value="exact">
     <div class="filter-row">
      <div class="select-wrapper filter-op">
       <select name="_filter_value" id="agency-search">
        {% for org in metadata.organizations %}
        <option>{{ org }}</option>
        {% endfor %}
       </select>
      </div>
      <button class="full-width" type="submit">View</button>
     </div>
    </form>

    <form class="dbsearch" action="/salaries/2018+Maryland+state+salaries" method="get">
     <label class="label" for="advanced-search">Advanced search:</label>

     <div class="filter-row">
      <div class="select-wrapper">
       <select name="_filter_column">
        <option value="">- column -</option>
        <option value="first_name">first name</option>
        <option value="middle_initial">middle initial</option>
        <option value="last_name">last name</option>
        <option value="suffix">suffix</option>
        <option value="system">system</option>
        <option value="organization">organization</option>
        <option value="subtitle">subtitle</option>
        <option value="agency">agency</option>
        <option value="class_code">class code</option>
        <option value="pay_rate">pay rate</option>
        <option value="ytd_gross_earnings">2018 gross earnings</option>
        <option value="annual_salary">annual salary</option>
        <option value="regular_earnings">regular earnings</option>
        <option value="overtime_earnings">overtime earnings</option>
        <option value="other_earnings">other earnings</option>
        <option value="hire_date">hire date</option>
        <option value="term_date">termination date</option>
       </select>
      </div>
      <div class="select-wrapper filter-op">
       <select name="_filter_op">
        <option value="exact">=</option>
        <option value="not">&ne;</option>
        <option value="contains">contains</option>
        <option value="endswith">ends with</option>
        <option value="startswith">starts with</option>
        <option value="gt">&gt;</option>
        <option value="gte">≥</option>
        <option value="lt">&lt;</option>
        <option value="lte">≤</option>
        <option value="glob">glob</option>
        <option value="like">like</option>
       </select>
      </div>
      <input type="text" name="_filter_value" class="filter-value" placeholder="value" id="advanced-search">
      <button class="full-width" type="submit">Search</button>
     </div>
    </form>

    <div class="dbsearch">
      <label class="label"><a href="/salaries">Complex Queries</a></label>
      {% for name in metadata.databases.salaries.queries %}
      <a
        class="button full-width"
        href="/salaries/{{ name }}">
        {{ name.replace("-", " ") }}
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<section class="l-index-block">
  <p>
    In an effort to bring greater transparency to government spending, <em>The Baltimore Sun</em> has been committed to publishing public salary records since 2009. See our <a href="http://www.baltimoresun.com/bal-maryland-state-salary-database-faq-20110524-story.html">FAQ</a> for more information.
  </p>
  <p>
    The Office of the Maryland Comptroller has rounded the salaries and gross pays to the nearest thousand to prevent tax fraud attempts on state employees. As a result, some figures have been rounded down to zero.
  </p>

  <h2>State salary archives</h2>
  <ul>
    {% for ds in datasets %}
    <li>
        <a href="{{ ds.url }}">{{ ds.name }}</a>
        {% if ds.csv %}
          (<a href="{{ ds.csv }}">download as CSV file</a>)
        {% endif %}
    </li>
    {% endfor %}
    <li>
      <a href="http://www.baltimoresun.com/news/data/bal-public-salaries-archive-20150415-htmlstory.html">
        See more records&hellip;
      </a>
    </li>
  </ul>
</section>
{% endblock %}
