{% extends "base.html" %}

{% block title %}Custom SQL query{% endblock %}

{% block extra_head %}
{{ super() }}
{% include "_codemirror.html" %}
{% endblock %}

{% block body_class %}query db-{{ database|to_css_class }}{% endblock %}

{% block content %}

{% if rows %}
    <div class="table-wrapper">
    <table class="dbresults">
        <thead>
            <tr>
            {% for column in columns %}
                <th scope="col">
                    {{ col_name[column] | default(column) }}
                </th>
            {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for row in rows %}
            <tr class="fancyfloat">
                {% for cell in row %}
                    {% set col = columns[loop.index0] %}
                    {% if col in numeric_cols %}
                        <td data-col="{{ col_name[col] | default(col) }}" class="col-right">{{ "${:,.2f}".format(cell|float) }}</td>
                    {% else %}
                        <td data-col="{{ col_name[col] | default(col) }}" class="">{{ cell if cell else '' }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endif %}

<form class="sql" action="/{{ database }}-{{ database_hash }}{% if canned_query %}/{{ canned_query }}{% endif %}" method="get">
    <h3>Custom SQL query{% if rows %} returning {% if truncated %}more than {% endif %}{{ "{:,}".format(rows|length) }} row{% if rows|length == 1 %}{% else %}s{% endif %}{% endif %}</h3>
    {% if editable %}
        <p><textarea name="sql">{% if query and query.sql %}{{ query.sql }}{% else %}select * from {{ tables[0].name|escape_table_name }}{% endif %}</textarea></p>
    {% else %}
        <pre>{% if query %}{{ query.sql }}{% endif %}</pre>
    {% endif %}
    {% if named_parameter_values %}
        <h3>Query parameters</h3>
        {% for name, value in named_parameter_values.items() %}
            <p><label for="qp{{ loop.index }}">{{ name }}</label> <input type="text" id="qp{{ loop.index }}" name="{{ name }}" value="{{ value }}"></p>
        {% endfor %}
    {% endif %}
    <p><input type="submit" value="Run SQL"></p>
</form>

{% include "_codemirror_foot.html" %}

{% endblock %}
