{% extends "base.html" %}

{% block title %}{{ database }}: {{ table }}{% endblock %}

{% block extra_head %}
{{ super() }}
<style>
@media only screen and (max-width: 576px) {
{% for column in columns %}
    td:nth-of-type({{ loop.index }}):before { content: "{{ column|escape_css_string }}"; }
{% endfor %}
}
</style>
{% endblock %}

{% block body_class %}row db-{{ database|to_css_class }} table-{{ table|to_css_class }}{% endblock %}

{% block content %}
<!--<div class="hd"><a href="/">home</a> / <a href="/{{ database }}-{{ database_hash }}">{{ database }}</a> / <a href="/{{ database }}-{{ database_hash }}/{{ table|quote_plus }}">{{ table }}</a></div>-->

{% block description_source_license %}{% include "_description_source_license.html" %}{% endblock %}

    {% for row in display_rows %}
            {% for cell in row %}
                {% if cell.column == 'Link' %}
                    <div>
                        <span>Link</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'first_name' %}
                    <div>
                        <span>First name</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'middle_initial' %}
                    <div>
                        <span>Middle initial</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'last_name' %}
                    <div>
                        <span>Last name</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'suffix' %}
                    <div>
                        <span>Suffix</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'system' %}
                    <div>
                        <span>Pay system (CT, RG or UM)†</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'organization' %}
                    <div>
                        <span>Organization</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'subtitle' %}
                    <div>
                        <span>Organization - Subtitle</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'agency' %}
                    <div>
                        <span>Agency number</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'class_code' %}
                    <div>
                        <span>Classification code</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'pay_rate' %}
                    <div>
                        <span>Pay rate</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'annual_salary' %}
                    <div>
                        <span>Annual salary</span>: <span>{{ "${:,.2f}".format(cell.value|float) }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'regular_earnings' %}
                    <div>
                        <span>Regular earnings</span>: <span>{{ "${:,.2f}".format(cell.value|float) }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'overtime_earnings' %}
                    <div>
                        <span>Overtime earnings</span>: <span>{{ "${:,.2f}".format(cell.value|float) }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'other_earnings' %}
                    <div>
                        <span>Other earnings</span>: <span>{{ "${:,.2f}".format(cell.value|float) }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'term_date' %}
                    <div>
                        <span>Term date</span>: <span>{{ cell.value }}</span>
                    </div>
                {% endif %}
                {% if cell.column == 'ytd_gross_earnings' %}
                    <div>
                        <span>YTD gross earnings</span>: <span>{{ "${:,.2f}".format(cell.value|float) }}</span>
                    </div>
                {% endif %}
            {% endfor %}
    {% endfor %}
    <div class="dbsearch"><a class="button back-btn" href="/">Back to main search</a></div>
{% endblock %}
