{% extends "base.html" %}

{% block title %}{{ table }}{% endblock %}

{% block content %}
<main id="salary-content">
    <div class="table-wrapper table-wrapper__row-view">
    <table class="dbresults">
    {% for row in display_rows %}
            {% for cell in row if not cell.column == 'rowid' %}
            <tr>
                <th>{{ cell.column|format_name_long }}</th>
                <td class="col-left">{{ format_for(cell.value, cell.column) }}</td>
            </tr>
            {% endfor %}
    {% endfor %}
    </table>
    </div>

    <h2>Notes</h2>

    <p>In system, RG, UM, and CT signify pay types for regular, University of Maryland, and contract workers, respectively.</p>

    <p>For the meaning of agency and classification codes see the <a href="http://dbm.maryland.gov/employees/Pages/SalaryPlan.aspx">Maryland Department of Budget and Management website</a>.</p>

    <p>The salary/pay scale refers to either an hourly rate (H), daily rate (D), or certified annual salary (A). In certain situations, state data did not include rates of pay or payout numbers for certain hourly workers.</p>

    <p>&ldquo;2017 gross earnings&rdquo; reflects compensation before any pre-tax deductions are removed.</p>

    <p>Termination date is the date that an employee was last terminated. In certain cases, an employee may be rehired after initial termination, resulting in an active employee with a recorded termination date.</p>
</main>

<a class="button back-btn" href="/">Back to main search</a>
{% endblock %}
