{% extends "base.html" %}
{% block title %}
    {{- table -}}
    {% if human_filter_description %} where {{ human_filter_description }}{% endif -%}
{% endblock %}


{% block body_class %}table db-{{ database|to_css_class }} table-{{ table|to_css_class }}{% endblock %}

{% block content %}

<form class="filters" action="/{{ database }}-{{ database_hash }}/{{ table|quote_plus }}" method="get">

    {% if supports_search %}
        <div class="dbsearch search-table"><label for="_search">Search:</label><input id="_search" type="search" name="_search" value="{{ search }}"></div>
    {% endif %}
    {% for column, lookup, value in filters.selections() %}
        <div class="dbsearch filter-row">
            <div class="select-wrapper">
                <select name="_filter_column_{{ loop.index }}">
                    <option value="">- remove filter -</option>
                    {% for c in filter_columns %}
                          <option
                            {% if c == column %}selected{% endif %}
                            value="{{ c }}">{{ col_name[c] | default(c) }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="select-wrapper filter-op">
                <select name="_filter_op_{{ loop.index }}">
                    {% for key, display, no_argument in filters.lookups() %}
                        <option
                            value="{{ key }}{% if no_argument %}__1{% endif %}"
                            {% if key == lookup %}selected{% endif %}>{{ display }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="text" name="_filter_value_{{ loop.index }}" class="filter-value" value="{{ value }}">
        </div>
    {% endfor %}
    <div class="dbsearch filter-row">
        <div class="select-wrapper">
            Filter:
            <select name="_filter_column">
                <option value="">- column -</option>
                {% for c in filter_columns %}
                      <option value="{{ c }}">{{ col_name[c] | default(c) }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="select-wrapper filter-op">
            <select name="_filter_op">
                {% for key, display, no_argument in filters.lookups() %}
                    <option
                        value="{{ key }}{% if no_argument %}__1{% endif %}"
                        {% if key == lookup %}selected{% endif %}>
                        {{- display -}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <input type="text" name="_filter_value" class="filter-value">
        <input type="submit" value="{% if filters.has_selections() %}Apply filters{% else %}Add filter{% endif %}">
    </div>

    <div class="dbsearch">
        <a class="button back-btn" href="/">Back to main search</a>
    </div>
</form>

{% include custom_rows_and_columns_templates %}

{% if filtered_table_rows or human_filter_description %}
    <p>{% if filtered_table_rows or filtered_table_rows == 0 %}{{ "{:,}".format(filtered_table_rows) }} row{% if filtered_table_rows == 1 %}{% else %}s{% endif %}{% endif %}
        {% if human_filter_description %}where {{ human_filter_description }}{% endif %}
    </p>
{% endif %}

{% if next_url %}
     <p><a href="{{ next_url }}">Next page</a></p>
{% endif %}

{% endblock %}
